<html>
<head th:replace="~{baseIndex :: head}"></head>

<body>
	<div th:replace="~{baseIndex :: header}"></div>
	
	<header sec:authorize="hasRole('ADM')" th:replace="~{baseCrud :: nav-adm}"></header>

    <main>

    	<div class="container mb-5">
	      	<div th:if="${compra != null}" class="container mt-5">
				
				<div class="card mt-3" >
					<div class="card-header">Detalhes da Compra: </div>
					<div class="card-body">					
            			
            			<div class="row m-0" th:each="cp : ${listaCompra}">
            			
            				<div class="col-lg-9 px-0">
            					<span class="fw-bold">Produto: </span>
            					<span th:text="${cp.produto.nome}">PRODUTO</span>
            				</div>
            				
            				<div class="col-lg-2 px-0 campo-troca" th:if="${compra.compraStatus.name()} == 'ENTREGUE' and ${cp.statusTroca.name()} == 'NAO_SOLICITADO'">
            					<form method="post" class="m-0" th:id="'formTroca' + ${#ids.seq('')}">
            						<input type="hidden" name="compraId" id="compraId" th:value="${compra.compraId}">
            						<input type="hidden" name="produtoId" id="produtoId" th:value="${cp.produto.produtoId}">
	            					<button class="fw-bold bg-0 border-0">
	            						<i class="fas fa-exchange-alt pe-2 c-green"></i>
	            						<span class="c-green">Solicitar Troca</span>
	            					</button>
	            				</form>
            				</div>
            				
           					<div class="col-lg-3" th:if="${cp.statusTroca.name()} == 'SOLICITADO'">            					
            					<span class="fw-bold bg-0 border-0 c-gray">
            						Aguardando Autorização de Troca
            					</span>            						            				
           					</div>
           					
           					<div class="col-lg-3" th:if="${cp.statusTroca.name()} == 'AUTORIZADO'">            					
            					<span class="fw-bold bg-0 border-0">
            						Troca Autorizada
            					</span>            						            				
           					</div>
            				
            				<div class="col-lg-6 mb-3 px-0">
            					<span class="fw-bold">Quantidade: </span>
            					<span th:text="${cp.quantidade}">QUANTIDADE</span>
            				</div>
            				
            				<div class="col-lg-6 mb-3 px-0">
            					<span class="fw-bold">Valor: </span>
            					<span th:text="${cp.produto.valor}">VALOR</span>
            				</div>
            				
            				<hr>
            				
            			</div>
            			
            			
            			
            			<div class="row">
            				
            				<div class="col-lg-12 mb-3">
            					<span class="fw-bold">Forma de pagamento: </span>
            					<span th:text="${compra.formaPgto}">FORMA_PGTO</span>
            				</div>
            				
            				<div class="col-lg-6" th:each="cartao : ${cartoes}">		            			
            					<span class="fw-bold">Cartão nº: </span>
           						<span th:text="${cartao}">FORMA_PGTO</span>            					
            				</div>
            				
            				<div class="col-lg-6" >
            					<div>
	            					<span class="fw-bold">Quantidade de parcelas: </span>
	            					<span th:text="${compra.parcelas}">PARCELAS</span>
            					</div>
            					<div>
	            					<span class="fw-bold">Valor das parcelas: </span>	            				
		            				<span th:text="'R$ ' + ${compra.valorParcela}">VALOR_PARCELA</span>
	            				</div>
            				</div>
            				
            				<div class="col-lg-6" th:if="${#arrays.length(cartoes)} > 1" >
            					<div>
	            					<span class="fw-bold">Quantidade de parcelas: </span>
	            					<span th:text="${compra.parcelas2}">PARCELAS</span>
            					</div>
            					<div>
	            					<span class="fw-bold">Valor das parcelas: </span>
	            					<span th:if="${#arrays.length(cartoes)} > 1" th:text="'R$ ' + ${compra.valorParcela2}">VALOR_PARCELA</span>
            					</div>
            				</div>
            				
            				<div class="col-lg-12 mt-3">
	            				<span class="fw-bold">Valor total: </span>
            					<span th:text="'R$ ' + ${compra.valorTotal}">VALOR_TOTAL</span>
            				</div>								
            				
							<div class="col-lg-6">
								<span th:if="${#lists.isEmpty(cupons)}" class="">Nenhum cupom utilizado na compra </span>
								
								<div th:each="cupom : ${cupons}" th:if="${cupom.tipoCupom.name()} != 'TROCA' and ${cupom.tipoCupom.name()} != 'COMPENSACAO'">									
	            					<span class="fw-bold" >Cupom: </span>
            						<span class="pe-1" th:text="${cupom.codigo} + ' - R$' + ${cupom.valorDesconto}">CÓDIGO</span>
            					</div>
            				</div>
            				
						</div>
						
						<hr>
						
						<div class="row">
						
							<div class="col-lg-6 mb-3">
	            				<span class="fw-bold">Status da Compra: </span>
            					<span th:text="${compra.compraStatus}">STATUS</span>
            				</div>
            				
            				<div class="col-lg-6 mb-3" th:if="${compra.compraStatus.name()} == 'TROCA_SOLICITADA'">
            					<span class="fw-bold bg-0 border-0 c-gray">
            						<i class="fas fa-exchange-alt pe-2 c-gray"></i>Solicitar Troca
            					</span>	            				
            				</div>
            				
            				<div class="col-lg-6 mb-3" th:each="cupom : ${cupons}" th:if="${cupom.tipoCupom.name()} == 'TROCA'">
            					<span class="fw-bold bg-0 border-0 c-green">Cupom de troca disponível:</span>
            					<span  th:text="${cupom.codigo} + ' no valor de R$ ' + ${cupom.valorDesconto}"></span>	            				
            				</div>
            				
            				<div class="col-lg-6 mb-3" th:each="cupom : ${cupons}" th:if="${cupom.tipoCupom.name()} == 'COMPENSACAO'">
            					<span class="fw-bold bg-0 border-0">Cupom de compensação disponível:</span>
            					<span  th:text="${cupom.codigo}"></span>	            				
            				</div>
		            				
							<div class="d-flex flex-direction-row justify-content-end">
								<div>
									<a href="/cliente/historico-de-compras" class="btn btn-primary mr-3 my-3">Voltar</a>
								</div>
							</div>
								
						</div>
						
					</div>
				</div>
				
			</div>
	    </div>
	
	</main>
    
    <div th:replace="~{baseIndex :: scripts}"></div>
</body>
</html>