<html>
<head th:replace="~{baseIndex :: head}"></head>

<body>
	<div th:replace="~{baseIndex :: header}"></div>
	<nav th:replace="~{baseCrud :: nav-user}"></nav>
		
		<main>
			
			<div class="container mt-5">
				<span th:if="${#lists.isEmpty(enderecos)}">Nenhum endereço cadastrado!</span>
				<div class="card mt-3" th:each="endereco : ${enderecos}">
					<div class="card-header">Endereço cadastrado: </div>
					<div class="card-body">
						<div class="row">
							
							<div class="col-lg-8">
								<div>Logradouro: <span th:text="${endereco.logradouro}">Rua xxx</span></div>
							</div>
							<div class="col-lg-2">
              					<div>Nº: <span th:text="${endereco.numero}">número</span></div>
            				</div>
            				<div class="col-lg-12">
              					<div>Complemento: <span th:text="${endereco.complemento}">complemento</span></div>
            				</div>
            				<div class="col-lg-4">
              					<div>Cidade: <span th:text="${endereco.cidade.cidade}">cidade</span></div>
            				</div>
            				<div class="col-lg-4">
              					<div>Estado: <span th:text="${endereco.cidade.estado.estado}">estado</span></div>
            				</div>
            				<div class="col-lg-2">
              					<div>CEP: <span th:text="${endereco.cep}">cep</span></div>
            				</div>
            				<div class="col-lg-12">
              					<div>Endereço tipo: <span th:text="${endereco.tipoEndereco}">cep</span></div>
            				</div>
            				
            				
							<div class="d-flex justify-content-end">
								<div class="me-3 my-3">
									<a th:href="@{'/cliente/editar-endereco/' + ${endereco.id}}">
										<button class="btn btn-primary">Editar</button>
									</a>
								</div>	
								<div class="me-3 my-3">
									<a th:href="@{'/cliente/excluir-endereco/' + ${endereco.id}}">
										<button class="btn btn-danger">Excluir</button>
									</a>
								</div>
							</div>				
							
						</div>
					</div>
				</div>
				
				<div class="d-flex justify-content-between my-3">
					<div class="my-3">
						<a href="/cliente/cadastrar-endereco">
							<button class="btn btn-primary ">Incluir Endereço</button>
						</a>
					</div>	
				</div>
			</div>
			
		</main>
		<div th:replace="~{baseIndex :: scripts}"></div>
	</body>
</html>