<html>
<head th:replace="~{baseIndex :: head}"></head>

<body>
	<div th:replace="~{baseIndex :: header}"></div>
	<nav th:replace="~{baseCrud :: nav-user}"></nav>

    <main>

	    <div class="container mt-5">
	      
	      	<table class="table">
	        	<thead>
	          		<tr>
	            		<th scope="col">#</th>
			            <th scope="col">Data da Compra</th>
			            <th scope="col">Valor</th>
			            <th scope="col">Status</th>
			            <th scope="col">Detalhes</th>
	          		</tr>
	        	</thead>
		        <tbody>
		          	<tr class="cliente" th:each="compra, compraStat : ${compras}">
			            <th scope="row"><span th:text="${#ids.seq('')}"></span></th>
			            <td class="info-nome"><span th:text="${compra.dataCadastro}">CÓDIGO</span></td>			        
			            <td><span th:text="'R$ ' + ${compra.valorTotal}">VALOR</span></td>
			            <td><span th:text="${compra.compraStatus}">STATUS</span></td>
			            <td>
	            			<a th:href="@{/cliente/detalhes-historico/{id}(id = ${compra.compraId})}" class="fas fa-search-plus border-0 bg-0" th:id="'compra'+ (${compraStat.index}+1)"></button>	            	
		            	</td>
		          	</tr>
		        </tbody>
	      	</table>
	
	      	<div class="text-end">
	        	<a href="/login-home">
	          		<button class="btn btn-primary">Voltar</button>
	        	</a>
	      	</div>
	    </div>
	
	</main>
    
    <div th:replace="~{baseIndex :: scripts}"></div>
</body>
</html>