<div th:fragment="baseProduto" class="col-4 text-center carrinho__desc">

	<div class="container" th:each="produto : ${produtos}">
	
		<div class="img__pgto">
			<img th:src="${produto.img}" class="img-fluid" alt="">
		</div>
		
		<div>
			<span class="pgto__desc" th:text="${produto.nome}">PRODUTO</span>
		</div>
		
		<div class="text-center mt-2">
			<span class="pgto__qtd" th:text="'Quantidade: ' + ${produto.qtde}">Quantidade: 0</span>
		</div>
		
		<hr>
		
		<div class="text-center d-flex justify-content-between my-4">
			<span>Produto:</span>
			<span th:text="${produto.valor}">R$ 0,00</span>
		</div>
		
		<hr>
		
	</div>
	
	<div class="text-center d-flex justify-content-between my-4">
		<span class="desc__pgto">Você pagará:</span>
		<span class="desc__pgto" th:text="${cliente.valorDeCompra}" id="valorFinal">R$ 0,00</span>
	</div>
	
</div>



<div th:fragment="baseProdutoRevisao" class="col-4 text-center carrinho__desc">

	<div class="container">
	
		<div th:each="produto : ${produtos}">
		
	        <div class="img__pgto">
	        	<img th:src="${produto.img}" class="img-fluid" alt="">
	        </div>
	        
	        <div>
	        	<span class="pgto__desc" th:text="${produto.nome}">PRODUTO</span>
	        </div>
	        
	        <div class="text-center mt-2">
	        	<span class="pgto__qtd" th:text="'Quantidade: ' + ${produto.qtde}">Quantidade: 0</span>
	        </div>
	        
	       	<hr>
	       	
	        <div class="text-center d-flex justify-content-between my-4">
	           	<span>Produto:</span>
	        	<span th:text="${produto.valor}">R$ 0,00</span>
	        </div>
	        
	        <hr>
        </div>      
        
        <div class="text-center d-flex justify-content-between my-4">
            <span>Envio:</span>
        	<span>R$ 0,00</span>
        </div>
        
        <div class="text-center d-flex justify-content-between my-4">
            <span>Subtotal:</span>
        	<span th:text="${cliente.valorDeCompra}">R$ 0,00</span>
        </div>
        
        <hr>
        
       	<div class="text-center d-flex justify-content-between my-4">
        	<span class="desc__pgto">Você pagará:</span>
        	<div class="d-flex flex-column">
        		<span class="desc__pgto" th:text="${compra.parcelas} + 'x R$ ' + ${compra.valorParcela}">0x R$ 0,00</span>
        		<span class="desc__pgto" th:if="${compra.valorParcela2} != null" th:text="${compra.parcelas2} + 'x R$ ' + ${compra.valorParcela2}">0x R$ 0,00</span>
			</div>
        </div>
        
     	<hr>
     	
        <div class="text-center d-flex justify-content-between my-4">
           	<span>Total:</span>
            <span th:text="${compra.valorTotal}">R$ 0,00</span>
        </div>
        
	    <div class="text-center">
	    	<form method="post" id="form-confirmar">
	    		<input type="hidden" name="compraStatus" value="PROCESSAMENTO">
    			<button type="submit" class="btn btn-success" style="width:100%;">Confirmar a compra</button>
	    	</form>
	    	
	    </div>
	    
	</div>
          
</div>	
