<div th:fragment="baseProduto" class="col-4 text-center carrinho__desc">
	<div class="container" th:each="produto : ${produtos}">
		<div class="img__pgto">
			<img th:src="${produto.proImg}" class="img-fluid" alt="">
		</div>
		<div>
			<span class="pgto__desc" th:text="${produto.proNome}">PRODUTO</span>
		</div>
		<div class="text-center mt-2">
			<span class="pgto__qtd" th:text="'Quantidade: ' + ${produto.proQtde}">Quantidade: 0</span>
		</div>
		<hr>
		<div class="text-center d-flex justify-content-between my-4">
			<span>Produto:</span>
			<span th:text="${produto.proValor}">R$ 0,00</span>
		</div>
		<hr>
	</div>
	<div class="text-center d-flex justify-content-between my-4">
		<span class="desc__pgto">Você pagará:</span>
		<span class="desc__pgto" th:text="${cliente.valorDeCompra}">R$ 0,00</span>
	</div>
</div>