<html>
<head th:replace="~{baseIndex :: head}"></head>
<body>
	<header th:replace="~{baseIndex :: header}"></header>
	
	<div class="nav-carrinho my-4">
      <nav class="nav-container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-shopping-cart "></i>
          <span class="nav-carrinho__text ">Carrinho</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-user "></i>
          <span class="nav-carrinho__text">Informações</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-credit-card nav-active"></i>
          <span class="nav-carrinho__text nav-active">Pagamento</span>
        </div>
      </nav>
    </div>	
    
    <main class="carrinho">

		<div class="container py-4">
	      <div class="row py-4">
	        <div class="col-7 me-5">
	          	<h3 class="mb-4">Como você prefere pagar?</h3>
	          	<div class="cartao__pgto my-3 d-flex align-items-center justify-content-between">
	            	<div class="d-flex align-items-center">
	              		<div class="mx-3">
	                		<i class="far fa-credit-card pgto__ico"></i>
	              		</div>
	              		<label th:text="'Cartão: ' + ${compra.documento}">Cartão: xxx-xxx</label>
	            	</div>            
	            	<a href="carrinho-pgto">Alterar</a>
	          	</div>
	
	          	<div class="cartao__pgto my-3">
	          	
	          		<form method="post" class="d-flex align-items-center justify-content-between" th:action="@{/verificar-cupom}">
	            		<div class="d-flex align-items-center form-group">
		              		<label for="vale-troca" class="me-4">Cupom:</label>
		              		<input type="text" name="codigo" class="form-control" id="codigo" >		           		              		
            			</div>            
	            		<button type="submit" class="border-0 bg-0">Utilizar</button>	            		          
	            	</form>
	            	
	            	
	            	<div th:if="${cupons != null}" th:each="cupom : ${cupons}" class="d-flex align-items-center form-group mb-3">	              		
              			<label for="vale-troca" class="me-4">Cupom:</label>
              			<input  type="text" name="codigo" class="form-control me-4" id="codigo" th:value="${cupom.codigo} + ' - R$ ' + ${cupom.valorDesconto} + ' de desconto!'" >
              			<a th:href="@{'/carrinho-parcelamento/' + ${cupom.codigo}}" class="far fa-times-circle c-red" alt="remover cupom"></a>	              		
	            	</div>
	            	
	            	<div>
              			<span th:text="${aviso}" th:classappend="${aviso} == 'Código Válido' ? 'c-green' : 'c-red'"></span>
              		</div>
              			 
	          	</div>
	
				<form method="post" th:action="@{/carrinho-parcelamento}">
		          	<div class="mt-5">		          
			            <h3 class="mb-4">Em quantas vezes?</h3>		            	            
		            	<ul class="parc__list">	            
		              		<li class="parc__pgto" th:each="parcela, parcStat : ${parcelas}">
		                		<div>		           
		                  			<input type="radio" name="parcela" th:id="${parcStat.index}" class="me-2" th:value="${parcela} + ':' + (${parcStat.index} +1)" required>
		                  			<label th:for="${parcStat.index}"><span class="fw-bold" th:text="${#ids.seq('')}">1x</span><span th:text="'x R$ ' + ${parcela}">R$ 0,00</span></label>
		                		</div>
		              		</li>
		            	</ul>
		          	</div>
		          	<div class="text-end">
		            	<button type="submit" class="btn btn-success">Continuar</a>
		          	</div>
	       		</form>
	        </div>
	        
	        <div th:replace="~{baseProdutoCarrinho :: baseProduto}"></div>
	        
	      </div>
	    </div>
	
	</main>
	
	<footer th:replace="~{baseIndex :: footer}" ></footer>
  	<div th:replace="~{baseIndex :: scripts}"></div>
</body>
</html>