<html>
<head th:replace="~{baseIndex :: head}"></head>
<body>
	<header th:replace="~{baseIndex :: header}"></header>
	
	<div class="nav-carrinho my-4">
      <nav class="nav-container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-shopping-cart "></i>
          <span class="nav-carrinho__text ">Carrinho</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-user nav-active"></i>
          <span class="nav-carrinho__text nav-active">Informações</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-credit-card"></i>
          <span class="nav-carrinho__text">Pagamento</span>
        </div>
      </nav>
    </div>	
    
	<main class="carrinho">

		<section>
		    <div class="container py-4">
		      <div class="row py-4">
		        <div class="col-7 me-5">
		          	<form method="post">
		          		<h3 class="mb-4">Como você quer receber sua compra?</h3>
		          		<h6>Endereço:</h6>
		          		
		          		<div th:each="endereco : ${enderecos}">
		          	
			          		<div class="cartao__pgto my-3 d-flex justify-content-between align-items-center">
				            	<div class="d-flex align-items-center">
				            	
					              	<input class="me-3" type="radio" name="endereco" th:id="'end' + ${endereco.id}" th:value="${endereco.id}" required>
					              
					              	<label th:for="'end' + ${endereco.id}" class="d-flex align-items-center">			                
					                	<div>
					                  		<i class="fas fa-map-marker-alt me-4"></i>
					                	</div>
					            
					                	<div>
						                  	<h5 class="mb-0" th:text="${endereco.logradouro} + ', ' + ${endereco.numero}" style="font-size: 16px;">Rua Quinze, 22 - Centro</h5>
						                  	<span th:text="${endereco.cidade.cidade} + ', ' + ${endereco.cidade.estado.estado}" style="font-size: 14px; color: gray;">Mogi das Cruzes, São Paulo - CEP 08711-222</span>
					                	</div>			                
					              	</label>
			           			</div>
			          
				            	<div>
				              		<a th:href="@{'/cliente/editar-endereco/' + ${endereco.id}}">Editar</a>
				            	</div>
				            
				          	</div>
			          
						</div>

			          	<div class="mb-5">
			            	<a href="cliente/cadastrar-endereco" class="">Cadastrar novo Endereço</a>
			          	</div>
		          		<div class="text-end">
		            		<button type="submit" href="" class="btn btn-success">Continuar</a>
		          		</div>
		          	</form>
	        	</div>
		        
	        	<div th:replace="~{baseProdutoCarrinho :: baseProduto}"></div>
	        	
		      </div>
		    </div>
		</section>
  	</main>
  	
  	<footer th:replace="~{baseIndex :: footer}" ></footer>
  	<div th:replace="~{baseIndex :: scripts}"></div>
</body>
</html>