<html>
<head th:replace="~{baseIndex :: head}"></head>
<body>
	<header th:replace="~{baseIndex :: header}"></header>
	
	<div class="nav-carrinho my-4">
      <nav class="nav-container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-shopping-cart "></i>
          <span class="nav-carrinho__text ">Carrinho</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-user "></i>
          <span class="nav-carrinho__text">Informações</span>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="d-flex flex-column justify-content-center align-items-center px-4">
          <i class="fas fa-credit-card nav-active"></i>
          <span class="nav-carrinho__text nav-active">Pagamento</span>
        </div>
      </nav>
    </div>	
    
    <main class="carrinho">

    <div class="container py-4">
      <div class="row py-4">
        <div class="col-7 me-5">
          <h3 class="mb-4">Revise e confirme sua compra</h3>

          <h6 class="">Detalhes do envio</h6>
          <div class="cartao__pgto d-flex align-items-center justify-content-between mb-5">
            <label for="dress1" class="d-flex align-items-center">
              <div class="me-4">
                <i class="fas fa-map-marker-alt" style="width: 30px;"></i>
              </div>
              <div>
                <h5 class="mb-0" style="font-size: 16px;" th:text="${compra.endereco}">Rua Quinze, 22 - Centro</h5>
              </div>
            </label>
            <a href="/carrinho-endereco">Alterar</a>
          </div>

          <h6>Detalhes do Pagamento</h6>
          <div class="cartao__pgto d-flex align-items-center justify-content-between mb-5">
            <div class="d-flex align-items-center">
              <div class="me-4">
                <i class="far fa-credit-card pgto__ico"></i>
              </div>
              <label th:text="'Cartão: ' + ${compra.documento}">Cartão: *** 123</label>
            </div>            
            <a href="/carrinho-pgto">Alterar</a>
          </div>
        </div>
        
        <div th:replace="~{baseProdutoCarrinho :: baseProdutoRevisao}"></div>
        
      </div>
    </div>

  </main>
  
  <footer th:replace="~{baseIndex :: footer}" ></footer>
  <div th:replace="~{baseIndex :: scripts}"></div>
</body>
</html>